USE [master]
GO
/****** Object:  Database [REGISTRO_MVC]    Script Date: 3/9/2022 20:57:05 ******/
CREATE DATABASE [REGISTRO_MVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REGISTRO_MVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\REGISTRO_MVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REGISTRO_MVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\REGISTRO_MVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REGISTRO_MVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REGISTRO_MVC]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 3/9/2022 20:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Edad] [int] NULL,
	[Correo] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_registrar]    Script Date: 3/9/2022 20:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_registrar]
@Nombre varchar(50),
@Edad int,
@Correo varchar(50)
as begin
insert into Usuarios values(@Nombre, @Edad, @Correo)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_usuarios]    Script Date: 3/9/2022 20:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_usuarios]
as begin
select * from Usuarios
end
GO
USE [master]
GO
